<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}

<section>
    <div clas="col-md-4 offset-md-4">
    <div style='background-color:#78909c' class="card card-body cuadronuevonombre">
        <h1>Sobre Emprendenombres</h1>
        <p>Emprendenombres es una página que permite a emprendedores de todo el mundo encontra el nombre ideal, o al menos inspirar a las personas para que encuentren el suyo para su nuevo emprendimiento.</p>
    </div>
</div>

{% endblock %}
</body>
</html>